.list {
    margin-bottom: 20px;
}
.list > h1{
    font-size: 30px;
    margin: 20px 0;
    border-bottom: 1px solid rgb(240, 240, 240);
    padding-bottom: 5px;
}
li{
    list-style-type: none;
    font-size: 25px;
}
.list-item{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}